@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: "Segoe UI", "sans-serif";
}

.navbar {
    background-color: white;
    color: white;
    padding: 1rem;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar-title {
    color: #262626;
    padding: 0.5rem 1rem;
    font-size: 25px;
}

.navbar-item {
    color: #262626;
    padding: 0.5rem 1rem;
    font-size: 13px;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }
}